{{define "subject"}}Добро пожаловать в Камелот!{{end}}

{{define "plainBody"}}
Привет,

Вы почти приняты в королевство Камелот! Чтобы завершить вступление и стать полноправным жителем, введите этот магический шестизначный код:

{{.activationToken}}

Ваш личный идентификатор (ID) — {{.userID}}.

Обратите внимание, код действует только один раз и истекает через 3 дня.

{"token": "{{.activationToken}}"}

Спасибо,

Команда Камелота
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<p>Привет,</p>
    <p>Вы почти приняты в королевство Камелот! Чтобы завершить вступление и стать полноправным жителем, введите этот магический шестизначный код:</p>
    <pre><code>{{.activationToken}}</code></pre>
    <p>Ваш личный идентификатор (ID) — <strong>{{.userID}}</strong>.</p>
    <p>Обратите внимание, код действует только один раз и истекает через 15 минут.</p>
    <p>Спасибо,</p>
    <p>Команда Камелота</p>
</body>

</html>
{{end}}